.mainpage-body-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://i.postimg.cc/9QKwdTVJ/oie-floaties-1.gif'); 
    background-size: cover;
    height:85vh;
    background-repeat: repeat;
	
	background-size: 
		1000px 600px;
		
	animation: 10s para infinite linear ease-out;
}
@keyframes para {
	100% {
		background-position: 
        2500px 100%;
       
		}
    }